#controls-and-images {
    width: 80%;
    margin: 0 auto;

    display: grid;
    place-items: center;
}

#slider-container {
    grid-row: 1;
}

#slider-trackbar-container {
    grid-row: 2;
}

#slider-trackbar::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

#slider-container img {
    max-width: 100%;
    display: none;
}

#slider-container img.active {
    display: block;
}

#slider-container input[type="range"] {
    width: 100%;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
}

.slider-image-container {
    position: relative;
}

.slider-image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 14px;
    text-align: right;
}